# Assignment 3

Given a bank customer, build a neural network-based classifier that can determine whether
they will leave or not in the next 6 months.
Dataset Description: The case study is from an open-source dataset from Kaggle.
The dataset contains 10,000 sample points with 14 distinct features such as
CustomerId, CreditScore, Geography, Gender, Age, Tenure, Balance, etc.

Link to the Kaggle project:
https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling

Perform following steps:

1. Read the dataset.
2. Distinguish the feature and target set and divide the data set into training and test sets.
3. Normalize the train and test data.
4. Initialize and build the model. Identify the points of improvement and implement the same.
5. Print the accuracy score and confusion matrix

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Drop irrelevant columns
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [5]:
# Convert the categorical variables to numerical values
label_encoder = LabelEncoder()

# Apply Label Encoding on 'Gender' and 'Geography'
df['Gender'] = label_encoder.fit_transform(df['Gender'])  # Female=0, Male=1
df['Geography'] = label_encoder.fit_transform(df['Geography'])  # France=0, Germany=1, Spain=2

In [6]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64,0
9996,516,0,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,0,0,36,7,0.00,1,0,1,42085.58,1
9998,772,1,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,0,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
# Separate the features and the target variables
X = df.drop('Exited', axis = 1) # Features
Y = df['Exited'] # Target

In [8]:
# Split the dataset into training and testing set
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)

In [9]:
# Normalize the dataset
scaler = StandardScaler()
X_train = scaler.fit_transform(x_train)
X_test = scaler.transform(x_test)
# we use only transform on xtest as it uses the same mean and SD learned from the training set

In [1]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

2024-10-31 22:59:40.871148: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-10-31 22:59:40.878205: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-10-31 22:59:40.915329: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-10-31 22:59:40.933047: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1730395780.949678   87884 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1730395780.961416   87884 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-10-31 22:59:41.045045: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [11]:
model = Sequential()
model.add(Dense(activation='relu', units=32, input_dim=X_train.shape[1]))  # Input layer with more neurons
model.add(Dropout(0.5))  # Dropout to prevent overfitting
model.add(Dense(activation='relu', units=16))  # Second hidden layer
model.add(Dense(activation='sigmoid', units=1))  # Output layer for binary classification

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
# During training, the cross-entropy loss function exponentially increases the penalty for wrong outputs 
# to drive the weights and biases more aggressively in the right direction.

/Users/shantanu/Desktop/BE-Lab-Assignments/.venv/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [12]:
model.fit(X_train, y_train, batch_size=32, epochs=50)

Epoch 1/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 615us/step - accuracy: 0.7668 - loss: 0.5481
Epoch 2/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 578us/step - accuracy: 0.8057 - loss: 0.4564
Epoch 3/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 507us/step - accuracy: 0.8088 - loss: 0.4399
Epoch 4/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 497us/step - accuracy: 0.8172 - loss: 0.4291
Epoch 5/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.8189 - loss: 0.4281
Epoch 6/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 490us/step - accuracy: 0.8285 - loss: 0.4111
Epoch 7/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 503us/step - accuracy: 0.8334 - loss: 0.4056
Epoch 8/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 506us/step - accuracy: 0.8359 - loss: 0.4008
Epoch 9/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 514us/step - accuracy: 0.8372 - loss: 0.3954
Epoch 10/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 510us/step - accuracy: 0.8339 - loss: 0.3959
Epoch 11/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 535us/step - accuracy: 0.8415 - loss: 0.3871
Epoch 12/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 512us/step - accuracy: 0.8399 - loss: 0.3914
Epoch 13/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 523us/step - accuracy: 0.8352 - loss: 0.3920
Epoch 14/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 501us/step - accuracy: 0.8444 - loss: 0.3842
Epoch 15/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 518us/step - accuracy: 0.8451 - loss: 0.3797
Epoch 16/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 493us/step - accuracy: 0.8441 - loss: 0.3760
Epoch 17/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 490us/step - accuracy: 0.8453 - loss: 0.3773
Epoch 18/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 501us/step - accuracy: 0.8420 - loss: 0.3891
Epoch 19/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 509us/step - accuracy: 0.8435 - loss: 0.3767
Epoch 20/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 521us/step - accuracy: 0.8508 - loss: 0.3714
Epoch 21/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 513us/step - accuracy: 0.8471 - loss: 0.3712
Epoch 22/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 716us/step - accuracy: 0.8570 - loss: 0.3598
Epoch 23/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 497us/step - accuracy: 0.8478 - loss: 0.3714
Epoch 24/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 508us/step - accuracy: 0.8453 - loss: 0.3768
Epoch 25/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 516us/step - accuracy: 0.8526 - loss: 0.3581
Epoch 26/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 503us/step - accuracy: 0.8517 - loss: 0.3678
Epoch 27/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 546us/step - accuracy: 0.8516 - loss: 0.3637
Epoch 28/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 550us/step - accuracy: 0.8509 - loss: 0.3702
Epoch 29/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 555us/step - accuracy: 0.8546 - loss: 0.3529
Epoch 30/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 499us/step - accuracy: 0.8534 - loss: 0.3630
Epoch 31/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 504us/step - accuracy: 0.8472 - loss: 0.3625
Epoch 32/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 522us/step - accuracy: 0.8487 - loss: 0.3698
Epoch 33/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 505us/step - accuracy: 0.8563 - loss: 0.3628
Epoch 34/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 506us/step - accuracy: 0.8512 - loss: 0.3538
Epoch 35/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 495us/step - accuracy: 0.8486 - loss: 0.3695
Epoch 36/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 491us/step - accuracy: 0.8553 - loss: 0.3563
Epoch 37/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 493us/step - accuracy: 0.8652 - loss: 0.3418
Epoch 38/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 533us/step - accuracy: 0.8525 - loss: 0.3614
Epoch 39/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 498us/step - accuracy: 0.8609 - loss: 0.3536
Epoch 40/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 491us/step - accuracy: 0.8564 - loss: 0.3578
Epoch 41/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 502us/step - accuracy: 0.8506 - loss: 0.3659
Epoch 42/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 507us/step - accuracy: 0.8598 - loss: 0.3544
Epoch 43/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 563us/step - accuracy: 0.8544 - loss: 0.3608
Epoch 44/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 495us/step - accuracy: 0.8586 - loss: 0.3502
Epoch 45/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 610us/step - accuracy: 0.8492 - loss: 0.3603
Epoch 46/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 541us/step - accuracy: 0.8545 - loss: 0.3581
Epoch 47/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 866us/step - accuracy: 0.8632 - loss: 0.3413
Epoch 48/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 672us/step - accuracy: 0.8505 - loss: 0.3644
Epoch 49/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 640us/step - accuracy: 0.8579 - loss: 0.3566
Epoch 50/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 651us/step - accuracy: 0.8620 - loss: 0.3482

In [13]:
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5) # to convert the probabilistic values to True or False
y_pred

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 739us/step

array([[ True],
       [ True],
       [ True],
       ...,
       [False],
       [False],
       [ True]])

In [14]:
from sklearn.metrics import accuracy_score, confusion_matrix
# Calculate accuracy score
accuracy = accuracy_score(y_test, y_pred)

# Print confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)

# Print the results
print("Accuracy Score:", accuracy)
print("Confusion Matrix:\n", conf_matrix)

Accuracy Score: 0.86
Confusion Matrix:
 [[1542   35]
 [ 245  178]]